@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  /* cursor: none; */
}

@font-face {
  font-family: "Vamos";
  src: url("./assets/Fonts/vamos.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #8750f7;
  --secondary-color: #172144;
  --text-color: #ffffff;
  --third-color: #000000;
  --primary-font: "vamos";
  --title-font: "Kanit", sans-serif;
  --navbar-font: "Goldman", sans-serif;
  --contact-font: "Lato", sans-serif;
  --heading-font: 3rem;
}



html {
  /* background-color: var(--third-color); */
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 2px;
  background-color: var(--primary-color) !important;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  width: 10px;
  height: 2px;
}

body {
  /* margin: 10px; */
  border-radius: 10px;
  /* height: calc(100% - 20px); */
  /* overflow: auto; */
  /* overflow-x: hidden; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}





/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: var(--text-color);
  scroll-behavior: smooth;
  background: var(--third-color) !important;
  position: relative;
  z-index: 9999;
} */

/* Custom scroll container */
/* .scroll-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden !important;


} */

/* .scroll-wrapper::before {
  content: "";
  position: fixed;
  inset: 0;
  margin: 10px;
  border-radius: 10px;
  background: var(--third-color) !important;
  z-index: -1;
  pointer-events: none;
} */




/* common style */
.highlight-text {
  color: var(--primary-color);
  text-decoration: none;
}

/* Navbar */
.navbar-container {
  position: fixed;
  top: 20px;
  left: 40px;
  width: 95%;
  z-index: 999;
  transition: all 0.3s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2rem;
  transition: background 0.3s ease;
}

.navbar.scrolled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.navbar-logo img {
  height: 50px;
  object-fit: cover;
}

.navbar-center {
  display: flex;
  gap: 2rem;
}

.navbar.light-text .nav-link,
.navbar.light-text a {
  color: white;
}

/* Dark pages */
.navbar.dark-text .nav-link,
.navbar.dark-text a {
  color: black;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: var(--navbar-font);
}

.hamburger {
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: var(--text-color);
  overflow: hidden;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary-color);
}


.hamburger:hover {
  cursor: pointer;
}

.hamburger.active {
  position: relative;
  z-index: 9999;
  /* border: 5px solid rgb(0, 0, 0); */
  /* border-left: 5px solid rgb(0, 0, 0); */
}

.hamburger>.plusIcon {
  fill: var(--primary-color);
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.hamburger:hover>.plusIcon {
  fill: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  /* transform: rotate(45deg); */
  transition: all .8s ease;
}

.hamburger:focus-visible>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

.hamburger.active .plusIcon,
.hamburger:hover .plusIcon {
  background-color: var(--primary-color);
  padding: 15px;
  width: 60px;
  height: 60px;
}

.hamburger.active::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.hamburger.active>.plusIcon {
  fill: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: rotate(45deg);
}

.dropdown-menu {
  background-color: var(--third-color);
  /* backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164); */
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -20px;
  left:-100%;
  right: auto;
  border-radius: 15px;
  padding: 1rem;
  /* border: 2px solid var(--primary-color); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  color:var(--primary-color)
}

.mob-dropdown-menu {
  display: none;
}

.dropdown-menu.open {
  left: -50px;
  top: -20px;
  opacity: 1;
  pointer-events: auto;
}

.dropdown-navBar a{
  font-family: var(--primary-font) !important;
}

.dropdown-menu,
.dropdown-menu a,
.dropdown-menu .navv,
.dropdown-menu .dropdown-ph a,
.dropdown-menu .dropdown-mail a {
  color: var(--text-color) !important;
  
}

.dropdown-logo {
  width: 200px;
  height: 70px;
}

.dropdown-logo img {
  width: 100%;
  height: 100%;
}

.dropdown-navBar {
  display: flex;
  flex-direction: column;
  color: red !important;
  gap: 2rem;
}

.dropdown-nav {
  padding: 1rem;
  height: 100%;
  width:100%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
}

.dropdown-menu a {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 10px;
  color: var(--third-color);
  font-family: var(--navbar-font);
  text-decoration: none;
}

.dropdown-Contact {
  margin-bottom: 20px;
  display: none;
}
.dropdown-ph-desk a,
.dropdown-mail-desk a{
  font-size: 1rem;
}

.dropdown-Contact-desktop{
  padding-right: 2rem;
}

.dropdown-Contact-desktop h1{
  font-size:2rem;
  font-family: var(--navbar-font);

}

.dropdown-Contact .dropdown-ph a,
.dropdown-Contact .dropdown-mail a {
  font-size: 1.2rem;
}


/* Banner starts */
/* Threads */
.threads-container {
  position: relative;
  width: 100%;
  height: 90vh;
}

.bannerSection {
  position: relative;
  width: 100%;
  height: 90vh;
  top: 50px;
  /* background-color: #ffffff; */
}

.Banner {
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.Banner-text {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: var(--primary-font) !important;
  width: 70%;
  text-align: left;
  font-size: 3.7rem;
  color: rgb(255, 255, 255);
}

/* Banner ends */
/* Our Works */
.ourWorks-container {
  padding: 1rem;
  margin-top: 80px;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.ourWorks {
  position: relative;
  height: 100%;
  width: 100%;
}

.ourWorks-heading {
  text-align: center;
  font-family: var(--contact-font);
  text-transform: uppercase;
  font-size: var(--heading-font);
  display: flex;
  padding: 10px;
  color: var(--text-color);
  padding-top: 30px;
}

.ourWorks-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourWorks-item img {
  width: 90vw;
  height: 80vh;
  object-fit: cover;
  object-position: top center;
  will-change: transform, opacity;
  border-radius: 20px;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* Our Works */
/* AboutScroll Starts */
.aboutscroll-container {
  /* background: url('./assets/b.svg') no-repeat center , white; */
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
}

.aboutscroll-container .clientBanner {
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 270vw;
  object-fit: cover;
  z-index: -9;
}

.aboutscroll-container .ourWorks-heading{
  color: var(--third-color);
}
.Aboutscroll {
  display: flex;
  height: 70%;
  gap: 5rem;
  width: fit-content;
  overflow: hidden;
  white-space: wrap;
}

.aboutscroll-item {
  width: 40vw;
  /* Show 2 at a time */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  perspective: 1000px;
}

.aboutscroll-item img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: top center;
  will-change: transform, opacity;
  border-radius: 20px;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  will-change: transform;
}

.scroll-progress-bar {
  position: relative;
  top: 70px;
  left: 0;
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1000;
}

.scroll-progress-fill {
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 0%;
  background: var(--primary-color);
  transition: width 0.2s ease-out;
}

/* AboutScroll Ends */
/* About us */
.about-section {
  background-color: var(--third-color);
  padding: 50px 0;
  overflow-x: hidden;
}

.about-heading {
  position: absolute;
  top: -15%;
  z-index: -999;
  background: #e3e3e3;
  background-image: linear-gradient(to bottom, #e3e3e3 45%, #676767 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 25rem;
  letter-spacing: 1.5rem;
  opacity: 0.16;
  text-transform: uppercase;
  font-family: var(--title-font);
}

.aboutUs-container {
  height: 80vh;
  padding: 3rem;
}

.aboutUs-content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutHeading {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  opacity: 1;
  margin-bottom: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.aboutHeading img {
  width: 50px;
}

.aboutDescription {
  font-size: 2.5rem;
  opacity: .8;
}

/* Video */
.video-container {
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.video-container video {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.text-content{
  width: 50%;
  position: absolute;
  bottom: 250px;
  right: 40px;
  opacity: 0;
}
.text-content h1{
  font-size: 4.5rem;
  color: var(--text-color);
  font-family: var(--title-font);
}
.text-content p{
  font-size: 2rem;
  color: var(--text-color);
}
.why-you-need{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.why-you-need p{
  font-size: 1.3rem;
  border: 1px solid var(--primary-color);
  padding: 15px 10px;
}
/* Video ends */

/* Clients */
.clients-Section {
  /* height: 50vh; */
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.944);
  padding: 3rem;
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  overflow: hidden;
}




.clients-Heading {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
  opacity: 0.8;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: sans-serif;
}

.clients {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.clients-track {
  display: flex;
  height: 100%;
  gap: 20px;
  will-change: transform;
  width: auto;
}

.clientItem {
  width: 200px;
  height: 130px;
}

.clientItem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .client-item {
  display: grid;
  width: 100%;
  gap: 6px;
  justify-items: center;
  align-items: center;
} */

/* 
.client-logo2 {
  grid-column-start: 3;
}

.client-logo3 {
  grid-column-start: 5;
}

.client-logo4 {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 150px;
  height: 100% !important;
}

.client-logo5 {
  grid-column-start: 4;
  grid-row-start: 2;
}

.client-logo6 {
  width: 210px !important;
  grid-row-start: 3;
}

.client-logo7 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.client-logo8 {
  grid-column-start: 5;
  grid-row-start: 3;
}

.client-logo9 {
  grid-column-start: 2;
  grid-row-start: 4;
}

.client-logo10 {
  grid-column-start: 4;
  grid-row-start: 4;
} */

/* .client-logo img {
  width: 120px;
  height: 90px;
} */
.client-logo img {
  width: 100%;
}

.client-logo {
  width: 110px;
}

/* About us ends */



/* Faq starts */
.faq-section {
  padding: 50px 0;
  width: 90%;
  margin: auto;

}

.faq-heading {
  font-size: var(--heading-font);
  color: var(--text-color);
  font-family: var(--contact-font);
  margin: 20px 0;
}

.faq-qn {
  width: 100%;
  padding: 20px;
  background: none;
  font-size: 2rem;
  font-family: var(--contact-font);
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  border: none;
  transition: all 0.4s ease;
}

.faq-item {
  border-bottom: 1px solid var(--primary-color);
  padding: 20px;
  transition: all 0.3s ease;
}

.faq-answer {
  padding: 20px;
  font-size: 1.5rem;
  font-family: var(--contact-font);
  color: var(--text-color);
  transition: all 0.3s ease;
}

/* Faq ends */




/* Footer starts */

.footer-container {
  width: 100%;
  background: var(--third-color);
  margin: auto;
  padding-bottom: 100px;
  position: relative;
}

.footer-top {
  background: #1b1b1b;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 2rem 2rem;
  text-align: center;
}

.footer-top h4 {
  color: white;
  font-size: 1.2rem;
}

.footer-top p {
  color: #bbb;
  margin: 1rem 0;
  max-width: 500px;
  margin-inline: auto;
  font-size: 0.9rem;
}

.footer-buttons button {
  margin: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.build-btn {
  background: #007aff;
  color: white;
}

.docs-btn {
  border: 1px solid #007aff;
  background: transparent;
  color: #007aff;
}

/* Newsletter */
.newsletter {
  background: #222;
  color: white;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  width: 90%;
}

.newsletter .privacy {
  font-size: 0.7rem;
  color: #aaa;
  margin-bottom: 1rem;
}

.input-box {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 1rem;
}

.input-box input {
  flex: 1;
  padding: 0.8rem;
  background: #333;
  border: none;
  color: white;
  height: 30px;
  border-radius: 20px;
}

.input-box button {
  background: #1b86ff;
  border: none;
  color: white;
  font-size: 1.5rem;
  width: 60px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
  padding: 2rem;
  color: white;
  font-family: monospace;
  margin: auto;
}

.grid-1 {
  grid-area: 1 / 1 / 2 / 5;
}

.grid-2 {
  grid-area: 2 / 1 / 4 / 4;
}

/* .grid-3 { grid-area: 2 / 2 / 4 / 3; } */
.grid-4 {
  grid-area: 2 / 4 / 6 / 5;
}

.grid-5 {
  /* grid-area: 2 / 5 / 4 / 6; */
  grid-area: 2 / 5 / 4 / 7;
}

.grid-6 {
  /* grid-area: 2 / 6 / 4 / 8; */
  grid-area: 2 / 7 / 6 / 8;
}

.grid-7 {
  grid-area: 4 / 5 / 6 / 7;
}

/* .grid-8 { grid-area: 4 / 5 / 6 / 6;  } 
.grid-9 { grid-area: 4 / 6 / 6 / 8; } */

.footer-icons {
  display: flex;
  justify-content: space-between;
}

.footer-icon-red {
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 180px;
}

.footer-icon-yellow {
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 170px;
}

.footer-icon-red img,
.footer-icon-yellow img {
  width: 50px;
  height: 50px;
}

.footer-developers,
.footer-connect {
  /* background: rgb(183, 192, 201); */
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 30px;
  padding: 1rem 1.2rem;
}

.grid-6 {
  background: none;
  padding: 0rem 1.2rem;
}

.footer-length {
  display: flex;
  gap: 1rem;
}

.footer-dot,
.footer-slash,
.footer-branding {
  /* background: rgb(183, 192, 201); */
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 30px;
  padding: 0.5rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-developers {
  width: 200px;
}

.developers-1 h1,
.developers-2 h1 {
  text-align: left;
  text-transform: capitalize;
  font-size: 24px;
  margin: 10px 0;
  font-family: var(--navbar-font);
  color: var(--primary-color);
}

.developers-1 p,
.developers-2 p {
  text-align: left;
  text-transform: capitalize;
  padding-left: 1rem;
  padding: 8px 1rem 0 0;
  font-family: var(--title-font);
  color: var(--text-color)
}

.developers-2 p {
  display: flex;
  gap: 10px;
  align-items: center;
}

.developers-1 a,
.developers-2 a {
  text-decoration: none;
  color: white;
}

.developers-terms {
  padding-top: 1rem;
  text-transform: capitalize;
}

.developers-terms p {
  text-align: left;
  padding: 8px 1rem 0 0;
  font-family: var(--title-font);
}

.footer-dot-logo img {
  width: 220px;
}

/* .footer-dot {
  width: 100%;
} */
.footer-dot {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* 
.ball {
  width: 20px;
  height: 20px;
  background-color: #8750f7;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: jump-across 3s infinite ease-in-out;
}

@keyframes jump-across {
  0% {
    left: 0%;
    bottom: 0;
  }

  12.5% {
    bottom: 60px;
  }

  25% {
    bottom: 0;
    left: 25%;
  }

  37.5% {
    bottom: 60px;
  }

  50% {
    bottom: 0;
    left: 50%;
  }

  62.5% {
    bottom: 60px;
  }

  75% {
    bottom: 0;
    left: 75%;
  }

  87.5% {
    bottom: 60px;
  }

  100% {
    bottom: 0;
    left: 100%;
  }
} */

.footer-slash {
  width: 185px;
}

.footer-branding {
  width: 50%;
}

.footer-copyrits {
  position: absolute;
  bottom: 10px;
  right: 50px;
  display: flex;
  justify-content: center;
}

.footer-copyrits p {
  position: relative;
  z-index: 9999;
  color: white;
  font-family: sans-serif;
}

.footer-copyrits a {
  color: var(--text-color);
  text-decoration: none;
  transition: all .5s ease;
}

.footer-copyrits p a:hover {
  color: var(--primary-color) !important;
}

/* footer button */


.footer-social-card {
  max-width: fit-content;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  transition: 0.5s;
}

.footer-social-card:hover {
  animation: ease-out 5s;
  background: rgba(173, 173, 173, 0.05);
}

.footer-social-card ul {
  padding: 1rem;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-social-card ul li {
  cursor: pointer;
}

.footer-social-svg {
  transition: all 0.3s;
  padding: 1rem;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  color: var(--primary-color);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.footer-social-iso-pro:hover .fb-icon .footer-social-svg {
  color: #1877f2;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.footer-social-iso-pro:hover .twitter-icon .footer-social-svg {
  color: white;
  box-shadow: inset 0 0 20px rgb(255, 255, 255),
    inset 0 0 5px rgb(255, 255, 255), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.footer-social-iso-pro:hover .insta-icon .footer-social-svg {
  color: #e1306c;
  box-shadow: inset 0 0 20px rgb(255, 255, 255),
    inset 0 0 5px rgb(255, 255, 255), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.footer-social-text {
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
  color: rgb(255, 174, 0);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 9999;
  box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
    -10px 0 1px rgba(153, 153, 153, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.footer-social-iso-pro {
  transition: 0.5s;
  opacity: inherit !important;
}

.footer-social-iso-pro:hover a>.footer-social-svg {
  transform: translate(15px, -15px);
  border-radius: 100%;
}

.footer-social-iso-pro:hover .footer-social-text {
  opacity: 1;
  transform: translate(25px, -2px) skew(-5deg);
}

.footer-social-iso-pro:hover .footer-social-svg {
  transform: translate(5px, -5px);
}

.footer-social-iso-pro span {
  opacity: 0;
  position: absolute;
  color: #1877f2;
  border-color: #1877f2;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 50%;
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}

.footer-social-iso-pro:hover span {
  opacity: 1;
}

.footer-social-iso-pro:hover span:nth-child(1) {
  opacity: 0.2;
}

.footer-social-iso-pro:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.footer-social-iso-pro:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

/* Footer ends */

/* Contact Starts */
.contact-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 20px 0;
}

.contact-heading {
  font-size: 12px;
  text-align: center;
  margin: 20px 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: var(--contact-font);
  font-weight: 700;
}

.marquee-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: scrollLoop 60s linear infinite;
}

.marquee-content a {
  text-decoration: none;
  font-family: var(--contact-font);
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
  padding-right: 2rem;
  white-space: nowrap;
}

.contact-mail1 {
  color: var(--text-color);
}

.contact-mail2 {
  color: black;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Contact Ends */

/* scroll page starts */
.scrollpage-wrap-contain {
  /* overflow-x: hidden; */
}

@layer normalize, base, demo, stick, effect, srollbar, debug;

@layer debug {
  [data-debug="true"] li {
    outline: 0.05em dashed currentColor;
  }

  [data-debug="true"] :is(h2, li:last-of-type) {
    outline: 0.05em dashed canvasText;
  }
}


@layer effect {
  :root {
    --start: 0;
    --end: 360;
    --lightness: 65%;
    --base-chroma: 0.3;
  }

  [data-theme="dark"] {
    --lightness: 75%;
  }

  [data-theme="light"] {
    --lightness: 65%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --lightness: 75%;
    }
  }

  .scrollpage-content ul {
    --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
  }

  .scrollpage-content li:not(:last-of-type) {
    color: oklch(var(--lightness) var(--base-chroma) calc(var(--start) + (var(--step) * var(--i))));
  }

  @supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
    [data-animate="true"] {
      li {
        opacity: 0.2;
        animation-name: brighten;

        &:first-of-type {
          --start-opacity: 1;
        }

        &:last-of-type {
          --brightness: 1;
          --end-opacity: 1;
        }

        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-range: cover calc(50% - 1lh) calc(50% + 1lh);
        animation-timeline: view();
      }
    }

    @keyframes brighten {
      0% {
        opacity: var(--start-opacity, 0.2);
      }

      50% {
        opacity: 1;
        filter: brightness(var(--brightness, 1.2));
      }

      100% {
        opacity: var(--end-opacity, 0.2);
      }
    }
  }
}

@layer stick {
  .scrollpage-content:first-of-type {
    --font-level: 6;
    display: flex;
    line-height: 1.25;
    width: 100%;
    padding-left: 5rem;
  }

  .scrollpage-content:last-of-type {
    min-height: 100vh;
    display: flex;
    place-items: center;
    width: 100%;
    justify-content: center;

    .scrollpage-content h2 {
      --font-level: 6;
    }
  }

  .scrollpage-main {
    width: 100%;
  }

  .scrollpage-content:first-of-type h2 {
    position: sticky;
    top: calc(50% - 0.5lh);
    font-size: inherit;
    margin: 0;
    display: inline-block;
    height: fit-content;
    font-weight: 600;
  }

  .scrollpage-content ul {
    font-weight: 600;
    padding-inline: 0;
    margin: 0;
    list-style-type: none;
  }

  [data-snap="true"] {
    scroll-snap-type: y proximity;

    .scrollpage-content li {
      scroll-snap-align: center;
    }
  }

  .scrollpage-content h2,
  .scrollpage li:last-of-type {
    background: linear-gradient(canvasText 50%,
        color-mix(in oklch, canvas, canvasText 25%));
    background-clip: text;
    color: #0000;
  }
}

@layer demo {
  .scrollpage-header {
    min-height: 100vh;
    display: flex;
    place-items: center;
    width: 100%;
    padding-inline: 5rem;
  }

  /* footer {
    padding-block: 2rem;
    opacity: 0.5;
  } */

  .scrollpage-header h1 {
    --font-size-min: 24;
    --font-level: 8;
    text-wrap: pretty;
    line-height: 0.8;
    margin: 0;
    background: linear-gradient(canvasText 60%,
        color-mix(in oklch, canvas, canvasText));
    background-clip: text;
    color: #0000;
  }
}




@layer base {
  :root {
    --font-size-min: 14;
    --font-size-max: 20;
    --font-ratio-min: 1.1;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  .scrollpage-container {
    color-scheme: light dark;
  }

  [data-theme="light"] {
    color-scheme: light only;
  }

  [data-theme="dark"] {
    color-scheme: dark only;
  }

  :where(.scrollpage-fluid) {
    --fluid-min: calc(var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0)));
    --fluid-max: calc(var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0)));
    --fluid-preferred: calc((var(--fluid-max) - var(--fluid-min)) / (var(--font-width-max) - var(--font-width-min)));
    --fluid-type: clamp((var(--fluid-min) / 16) * 1rem,
        ((var(--fluid-min) / 16) * 1rem) - (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) + (var(--fluid-preferred) * var(--variable-unit, 100vi)),
        (var(--fluid-max) / 16) * 1rem);
    font-size: var(--fluid-type);
  }

  .scrollpage-container {
    display: grid;
    place-items: center;
    justify-content: center;
    /* background: light-dark(white, black); */
    min-height: 100vh;
    font-family: "Geist", "SF Pro Text", "SF Pro Icons", "AOS Icons",
      "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    overflow-x: clip;
  }

  .scrollpage-container,
  .scrollpage-main,
  .scrollpage-content,
  .scrollpage-content ul {
    overflow-x: clip;
    max-width: 100%;
  }

  .scrollpage-container::before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 70%);
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(90deg,
        var(--line) 1px,
        transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  /* Utilities */
  .scroll-page-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .wecan-static,
  .wecan-replace {
    display: inline-block;
    font-weight: bold;
    transition: opacity 0.4s, transform 0.4s;
  }
}



/* scrollpage ends */

/* Service starts */

.service-container {
  background: var(--third-color);
}


.service-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  padding: 10rem 20px 20px 20px;
  width: 90%;
  margin: auto;
}



.item-1 {
  grid-column: span 3;
}

.item-2 {
  grid-column: span 3;
}

.item-3 {
  grid-column: span 2;
}

.item-4 {
  grid-column: span 2;
}

.item-5 {
  grid-column: span 2;
}

/* .service-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  padding:10rem 20px 20px 20px;
  width: 90%;
  margin: auto;
} */
/* 
.item-1 {
  grid-column: span 2 / span 2;
}

.item-2 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}

.item-3 {
  grid-row: span 2 / span 2;
  grid-row-start: 2;
}

.item-4 {
  grid-row-start: 2;
}

.item-5 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
} */

.service-hovercard-main {
  background-color: #8850f73d;
  border-radius: 1.2em;
  align-items: stretch;
  padding: 2px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.blurred-color {
  z-index: 0;
  background-color: var(--primary-color);
  opacity: 0;
  filter: blur(15px);
  /* border-radius: 50%; */
  width: 150px;
  height: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.service-hovercards {
  z-index: 10;
  background-color: rgba(2, 9, 15, 0.344);
  -webkit-backdrop-filter: blur(70px);
  backdrop-filter: blur(70px);
  border-radius: 1.2em;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.service-content {
  display: flex;
  flex-direction: column;
  /* flex-direction: row-reverse; */
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;


}

.content-reverse {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.service-content-img {
  width: 50%;

}

.grid-img1 {
  position: relative;
  left: 50px;
}

.second-img {
  width: 100%;
}

.mobile-design {
  position: relative;
  object-fit: cover;
}

.content-card-1 {
  align-items: flex-start;
}

.service-content-text {
  padding: 0rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  position: absolute;
}

.service-content-text h1 {
  background-image: linear-gradient(140deg, white, rgba(241, 213, 189, 0.5));
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  padding: 1rem 0;
  max-width: 75%;
  margin-bottom: -0.25em;
}

.service-content-text p {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 25px;
  font-weight: 200;
  max-width: 80%;
  display: none;
}

/* Service Ends */



/* Curve scroll */


.scroll-bump {
  position: fixed;
  bottom: -20px;
  left: 45%;
  transform: translate(-50%, 100%);
  width: 100%;
  height: 60px;
  overflow: hidden;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 99;
  cursor: pointer;
  pointer-events: none;
}

.scroll-bump.visible {
  transform: translate(-50%, 0%);
  opacity: 1;
  pointer-events: auto;
}


.scroll-bump svg {
  width: 100%;
  height: 100%;
  display: block;

}


.label {
  position: absolute;
  left: 39%;
  top: 20%;
  transform: translateX(-50%);
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  transition: transform 0.3s ease;
  z-index: 2;
}

/* CustomCursor.css */

.custom-cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: none;
  z-index: 9999;
}

.custom-cursor-main {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease, width 0.15s ease, height 0.15s ease;
  transform: rotate(-30deg);
}

.custom-cursor-main.active {
  transform: translate(-50%, -50%) scale(1.5);
}

@media screen and (max-width: 800px) {
  .custom-cursor-container {
    display: none;
  }
}



/* Enquire button */

.enquire-container {
  position: fixed;
  right: 0px;
  bottom: 30%;
  z-index: 555;
}

.enquire-button {
  background: var(--text-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -12px 4px 28px -10px rgba(135, 80, 247, 0.57);
  color: var(--primary-color);
  outline: none;
  border: none;
  padding: 0.8rem;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--navbar-font);
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/* Enquire ends */


/* privacy policy starts */

.privacy-container {
  color: var(--text-color);

  font-family: var(--title-font);
  background: var(--third-color);

}

.privacy-main {
  padding: 5rem 0;
  margin: auto;
  width: 80%;
}

.privacy-container h1 {
  font-size: 60px;
  padding: 0.5rem 0;
  position: relative;
}

.privacy-container h1::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  border-radius: 10px;
  bottom: 10px;
  background: white;
  left: 0;
}


.privacy-container h2 {
  font-size: 32px;
  padding: 0.5rem 0;
  position: relative;
}

.privacy-container p {
  font-size: 20px;
  text-align: justify;
  padding: 0.2rem 0;
}

.privacy-container ul {
  padding-left: 2rem;
}

/* privacy policy ends */

/* Client portal */
.clientPortal {
  background-color: var(--text-color);
  height: 100vh;
  position: relative;
}

.clientPortal .clientBanner {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -9;
}

.client-pin-wrapper {
  width: 100%;
  position: relative;
}

.client-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 95vh; */
  font-size: var(--heading-font);
  font-family: var(--contact-font);
  color: var(--third-color);
  text-transform: uppercase;
}

.client-items {
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
}

.client-item {
  position: relative;
  z-index: 999;
  height: 450px;
  padding: 2rem 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.client-info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--contact-font);
}

.client-info-item2 {
  background-color: #333;
  color: var(--text-color);
  padding: 1rem;
  border-radius: 30px;
}

.client-info-item2 p {
  font-size: 1.5rem;
  color: var(--text-color) !important;
}

.client-info h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--third-color);
  letter-spacing: 1.3px;
}

.client-info p {
  font-size: 1rem;
  letter-spacing: 1.2px;
  font-weight: 500;
  color: var(--third-color);
}

.client-img {
  width: 550px;
  height: 330px;
}

.client-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Client portal ends */